@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes jump {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  75% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}
